@import 'variables';
@import 'grid';
@import 'mixins';

.form-input__state {
  float: left;
  padding-right: 7px;
  width: 70%;

  & select {
    width: 100%;
  }

  @include mq($large) {
    width: 30%;
  }
}

.form-input__postal-code {
  float: left;
  padding-left: 7px;
  padding-right: 0;
  width: 30%;

  @include mq($large) {
    padding-right: 7px;
    width: 20%;
  }
}

.form-input__country {
  width: 100%;
  padding-left: 0;
  padding-top: 10px;

  @include mq($large) {
    width: 50%;
    padding-left: 7px;
    padding-top: 0;
  }
}

.subscription-name-container {
    margin-bottom: 10px;
    min-height: 55px;
  }


.billing-info-container .payment-type a {
  margin: 0 10px 0px;
  width: 29%;

  @include mq($large) {
    margin: 0 6% 0px;
    width: 22%;
  }

  &:first-child {
    margin-left: 0px;

    @include mq($large) {
      margin-left: 15px;
    }
  }
  &:last-child {
    margin-right: 0px;

    @include mq($large) {
      margin-right: 15px;
    }
  }
}


.customer-fields--card-details, .customer-fields--account-details {
  .form-input {

    .tooltip-container {
      display: none;

      @include mq($large) {
        display: inline-block;
      }
    }

    &:first-child {
      padding-right: 0;
      width: 100%;

      @include mq($large) {
        padding-right: 7px;
        width: 50%;
      }
    }

    &:last-child {
      padding-left: 0;
      width: 100%;

      @include mq($large) {
        padding-left: 7px;
        width: 50%;
      }
    }
  }
}
