@import 'variables';
@import 'mixins';

.form-header {
  background: url('/images/kalekrate/form-header-bg.png') center no-repeat;
  height: 167px;
  position: relative;
  background-size: cover;
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      background: url('/images/kalekrate/form-header-bg@2x.png') center no-repeat;
      background-size: cover;
    }
  }

  h1 {
    @include irGraphic('/images/kalekrate/kalekrate-branding.png', 288px, 61px);
    @include background-image-retina('/images/kalekrate/kalekrate-branding', 'png', 288px, 61px);
    @include verticalAlign();

    text-indent: -9999px;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }
}

form {
  float: left;
  padding: 20px 14px 28px 14px;

  @include mq($small) {
    padding: 20px 26px 28px 26px;
  }

  .row {
    width: 100%;
  }
}

  .form__success {
    display: none;
  }

.form-bar {
  background-color: #91C11E;
  border-bottom: 1px solid #86B11C;
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 4px;
  overflow: hidden;

  @include mq($small) {
    // min-height: 66px;
  }
}

  .subscription-name-container {
    float: left;
    width: 100%;
    padding: 0;

    @include mq($small) {
      width: auto;
      padding: 37px 0;
    }
  }
  .subscription-pricing-container {
    height: 100%;
    float: right;
    width: 100%;

    @include mq($small) {
      width: auto;
    }
  }

  .subscription-pricing {
    @include border-radius(5px);

    background-color: #81AE17;
    color: #E0F2BD;
    display: inline-block;
    padding: 8px 14px;
    margin: 10px 0 20px 0;
    position: relative;

    @include mq($small) {
      @include verticalAlign();
      margin: 0;
      right: 26px;
    }
  }

    .subscription-price {
      font-size: 18px;
    }

    .subscription-frequency {
      font-size: 14px;
    }

  .subscription-name {
    color: #FFFFFF;
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin: 14px auto 0 auto;
    padding: 0 25px;
    width: 100%;
    text-align: center;

    @include mq($small) {
      // float: left;
      @include verticalAlign();
      display: inline-block;
      line-height: 24px;
      text-align: left;
      margin: 0;
      width: 60%;
    }
  }


  label {
    color: #48626C;
    display: block;
    line-height: 30px;
    font-size: 14px;
  }

  input[type='text'] {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 14px;
    color: #818181;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #C6CFD2;
    border-radius: 3px;
    margin-bottom: 5px;
    -webkit-appearance: none;

    &:focus {
      // Default
      outline: thin dotted;
      // WebKit
      outline: none;
      outline-offset: 0;

      border-color: #898E8A;
    }
  }

  input[type='text'],
  select {
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px white inset;
    }

    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 1000px white inset;
    }
  }

  select {
    &:-webkit-autofill {
      -webkit-appearance: menu;
    }

    &:-webkit-autofill:focus {
      -webkit-appearance: menu;
    }
  }

  input[type='submit'] {
    @include box-shadow(0 3px 0 #EB9909);
    @include border-radius(3px);
    display: inline-block;
    margin-bottom: 0; // For input.btn
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    white-space: nowrap;

    width: 100%;
    background: #FFAB17;
    outline: none;
    padding: 7px 14px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;

    &:active,
    &:hover {
      background: #EA9827;
    }

    &:active {
      position: relative;
      top: 1px;
    }
  }

  .btn-submit {
    margin-top: 20px;
  }

.form-input {
  @include mq($medium) {
    width: inherit;
  }

  float: left;
  position: relative;
  width: 100%;
}

  .form-input__error {
    & input {
      border-color: #F55649;
    }
  }

.icon-card {
  display: block;
  height: 25px;
  width: 41px;
  z-index: 10;
  position: absolute;
  left: 10px;
  bottom: 13px;

  -webkit-transition: width 2s;
}

  .icon-card__generic {
    background: url('/images/icons/card-generic.png') top left no-repeat;
  }

  .icon-card__visa {
    background: url('/images/icons/card-visa.png') top left no-repeat;
  }

  .icon-card__amex {
    background: url('/images/icons/card-amex.png') top left no-repeat;
  }

  .icon-card__discover {
    background: url('/images/icons/card-discover.png') top left no-repeat;
  }

  .icon-card__mastercard {
    background: url('/images/icons/card-mastercard.png') top left no-repeat;
  }

.icon-lock {
  background: url('/images/icons/icon-lock.png') top left no-repeat;
  display: block;
  height: 16px;
  width: 10px;
  z-index: 10;
  position: absolute;
  right: 10px;
  bottom: 17px;
}

.form-errors {
  @include border-radius(5px);

  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  margin-bottom: 10px;
  padding: 20px;

  strong {
    font: {
      size: 14px;
      weight: 600;
    }
  }

  ul {
    margin: 10px 0 0 0;
    padding: 0 0 0 20px;
  }

  li {
    font-size: 12px;
  }
}

.form-errors__hidden {
  display: none;
}
