::-webkit-input-placeholder {
   line-height: 20px;
}

:-moz-placeholder { /* Firefox 18- */
   line-height: 20px;
}

::-moz-placeholder {  /* Firefox 19+ */
   line-height: 20px;
}

:-ms-input-placeholder {
   line-height: 20px;
}
