@import 'variables';
@import 'mixins';

.form {
  .row {
    margin-bottom: 13px;
  }
}

.customer-fields--card-details {
  .form-input {
    float: left;

    &:first-child {
      padding-right: 7px;
      width: 50%;
    }

    &:last-child {
      padding-left: 7px;
      width: 50%;
    }
  }
}

.form-input__city {
  margin-bottom: 13px;
}

.form-input__state {
  float: left;
  padding-right: 7px;
  width: 70%;

  & select {
    width: 100%;
  }
}

.form-input__postal-code {
  float: left;
  padding-left: 7px;
  width: 30%;
}
